.bold{
    font-weight: bolder;
}
.box{
    border: 1px dotted black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 10px;
    margin: auto;
    width: 500px;
}

.box2{
    border: 1px dotted black;
    padding: 20px 10px;
    margin: auto;
    width: 500px;
    margin-top: 30px;
}

.box3{
    border: 1px dotted black;
    padding: 20px 10px;
    margin: auto;
    width: 500px;
    margin-top: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
}

th, td{
    border: 1px solid black;
    padding: 5px 10px;
}

.gray{
    background-color: rgb(240,240,240);
}